<!-- 
    anouncements.html
    Inherits the properties from the template -- layout.html
    This template renders the form to let the user login with his/her credentials
-->

{% extends "layout.html" %} {% block content %}
<div class="content-section" style="background-color: rgb(182, 238, 233)">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Log In</legend>

      <!-- Validating form for email and password -->

      <div class="form-group">
        {{ form.email.label(class="form-control-label") }}

        <!-- if caught errors print them -->

        {% if form.email.errors %} {{ form.email(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>

        <!-- else let login -->
        {% else %} {{ form.email(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <!-- Same check for the passwords -->
      <div class="form-group">
        {{ form.password.label(class="form-control-label") }}

        <!-- if errors, print them -->
        {% if form.password.errors %} {{ form.password(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>

        <!-- else proceed -->
        {% else %} {{ form.password(class="form-control form-control-lg") }} {%
        endif %}
      </div>

      <div class="form-check">
        {{ form.remember(class="form-check-input") }} {{
        form.remember.label(class="form-check-label") }}
      </div>
    </fieldset>

    <!-- submit the form  -->
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}

      <!-- option of forgot password -->
      <small class="text-muted ml-2">
        <a href=" {{url_for('users.reset_request')}} ">Forgot Password?</a>
      </small>
    </div>
  </form>
</div>

<div class="border-top pt-3">
  <!-- If not a registered user ask them to register first -->
  <small class="text-muted">
    Need An Account?
    <a class="ml-2" href="{{ url_for('users.register') }}">Sign Up Now</a>
  </small>
</div>
{% endblock content %}
